.album {
  height: calc((100vw / 5) - #{$nav-width / (5 / 2)});
  min-height: $bar-min-width;
  max-height: calc((100vh / 2) - #{$nav-width});
  background-color: rgba($black, 0.5);

  @media (min-width: 80em) {
    height: calc(100vw / 7);
  }
}

%album-position {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
}

.album-placeholder {
  @extend %album-position;
  background-image: url('../logo-beta-badge.svg');
  background-size: calc(100% - 3em);
}

.album-cover {
  @extend %album-position;
}
