.track {
  height: 0.5em;
}

.track-dot {
  position: absolute;
  width: 0.5em;
  height: 0.5em;
  background: $black;
  border-radius: 50%;

  &.-left {}

  &.-right {
    right: 0em;
  }
}

.track-slide {
  position: absolute;
  top: 0.125em;
  right: 0.25em;
  left: 0.25em;
  height: 0.25em;
  background: $black;
}
