doctype
html(lang='en-us')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width' initial-scale='1')
    link(href='css/main.css' rel='stylesheet' type='text/css')
  body
    .root
      //- .nav.-top
        .nav-item
          .nav-border
          .nav-icon
          .nav-text DJ Playlist
        .nav-item
          .nav-border
          .nav-icon
          .nav-text DJ Playlist
      .main
        .nav.-left
          .nav-item
            .nav-border
            .nav-icon
            .nav-text DJ Playlist ddddfasdfasdf
          .nav-item
            .nav-border
            .nav-icon
            .nav-text Playlists
          .nav-item.-open
            .nav-border
            .nav-icon
            .nav-text Songs
            .nav-tip Songs
        .side.-left
          .title Songs
          .queue
            .queue-item All The Time - Bahamas
            .queue-item All The Time - Bahamas
            .queue-item All The Time - Bahamas
            .queue-item All The Time - Bahamas
            .queue-item All The Time - Bahamas
            .queue-item All The Time - Bahamas
            .queue-item All The Time - Bahamas
            .queue-item All The Time - Bahamas
            .queue-item All The Time - Bahamas
            .queue-item All The Time - Bahamas
            .queue-item All The Time - Bahamas
          .album
            .album-placeholder
            .album-cover
        .center
          .ad advertisement
          .chat
            .chat-message
              .chat-avater
              .chat-text
              .chat-attach
          .message
          .control
            .track
              .track-dot.-left
              .track-dot.-right
              .track-slide
              //- .track-bar
              //- .track-knob
            .track
              .track-dot.-left
              .track-dot.-right
              .track-slide
              //- .track-bar
              //- .track-knob
        .side.-right
          .title Friends
          .profile
          .user
          .control
        .nav.-right
          .nav-item
            .nav-border
            .nav-icon
            .nav-text Lobbies
          .nav-item.-open
            .nav-border
            .nav-icon
            .nav-text Friends
          .nav-item
            .nav-border
            .nav-icon
            .nav-text Settings
            .nav-tip Settings
